/*
* This software was written by John Slowik
* Please don't do anything he wouldn't do
*
*//* 
    Created on : Feb 8, 2016, 3:23:01 PM
    Author     : John Slowik <jslowik@my.wctc.edu>
*/

.jumbotron{
    background-image: url("../img/UdiLjqO.jpg");
    text-shadow: black 0.2em 0.2em 0.2em;
}
.crudButtons{
    text-align:center;
    align-content: stretch;
}